.navbar{
    background: rgb(4,4,44);
    background: linear-gradient(90deg, rgba(4,4,44,1) 25%, rgba(255,255,255,1) 100%);
    } 
    .navbar-nav a{
        color:white;
    }
    .navbar-nav a:hover{
        color:#e40484;
    }
    .navbar-toggler{
        width: 50px;
        height: 50px;
    }
    .input-search{
        height: 30px;
        border-style: ridge;
        border-radius: 7px;
        border-color: #e40484;
        outline: none;
        font-size: 18px;
        padding-left: 10px;
    }
    
    .search{
        border-style:none;
        border-radius: 7px;
        background-color: #e40484;
        color:white;
    }
    .search:hover{
        background-color:white;
        color:#e40484;
    }




.products-container{
    margin-top: 150px;
}


.table tbody tr td img {
    background-color:#e40484;
    width: 40px; 
    height: 30px; 
    border-radius: 5px; 
  }

  .table tbody tr td {
    background-color: grey;
    font-size: 15px;
    width: 200px;
    border-style: double;
    border-color: black;
    font-weight: bold; 
    color:black;
  }

  .table tbody tr td:nth-last-child(-n+3) {
    text-align: center;
    font-weight: bold; 
  }

  .table tbody tr td:first-child {
    min-width:200px;
  }

  .products-container .table tbody tr.title td h5 {
    color:black;
    font-size: 15px;
    font-weight: bolder;
    text-align:center;
  }
  .basketTotalContainer{

    float: right;
    margin-right: 60px;
    color:black;
    text-align:center;
    border-top-style: groove;
    border-color: black;
    width: 200px;
    height: 50px;
  }
  .basketTotalTitle{
   font-size: 17px;
   font-weight: bolder;
  }
  .basketTotal{
    font-size: 15px;
    font-weight: bold; 
  }
  